<h1 class="mt-0">Factuuroverzicht</h1>

<div class="actions">
    <button type="button" class="btn btn-primary"><i class="fa fa-plus"> </i> Nieuwe factuur</button>
    <button type="button" class="btn btn-white">Factuuropmaak wijzigen</button>
</div>

<section class="p-4">
    <div class="row buttons">
        <div class="col-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Zoek factuur" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="col-9">
            <div class="input-group">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Alles</button>
                    <button class="btn btn-outline-secondary" type="button">Concept</button>
                    <button class="btn btn-outline-secondary" type="button">Vervallen</button>
                    <button class="btn btn-outline-secondary" type="button">Openstaand</button>
                    <button class="btn btn-outline-secondary" type="button">Betaald</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nummer</th>
                        <th>Klant</th>
                        <th>Factuurdatum</th>
                        <th>Totaal</th>
                        <th>Openstaand</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1001</td>
                        <td>Peter Drucker</td>
                        <td>12-01-2020</td>
                        <td>100</td>
                        <td>100</td>
                        <td>Vervalt over 4 dagen</td>
                    </tr>
                    <tr>
                        <td>1002</td>
                        <td>Klaas Leeuwenkamp</td>
                        <td>13-02-2020</td>
                        <td>78.98</td>
                        <td>78.98</td>
                        <td>Vervalt over 14 dagen</td>
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>Hotel de Bruijn</td>
                        <td>19-02-2020</td>
                        <td>54.90</td>
                        <td>54.90</td>
                        <td>Vervalt sinds een maand</td>
                    </tr>
                    <tr>
                        <td>10921</td>
                        <td>De Vries</td>
                        <td>13-05-2020</td>
                        <td>632.90</td>
                        <td>632.90</td>
                        <td>Vervallen</td>
                    </tr>
                    <tr>
                        <td>2034</td>
                        <td>Jonker</td>
                        <td>28-05-2020</td>
                        <td>2365.90</td>
                        <td>2365.90</td>
                        <td>Vervallen</td>
                    </tr>
                    <tr>
                        <td>3001</td>
                        <td>Peter Drucker</td>
                        <td>12-01-2020</td>
                        <td>100</td>
                        <td>100</td>
                        <td>Vervalt over 4 dagen</td>
                    </tr>
                    <tr>
                        <td>2002</td>
                        <td>Klaas Leeuwenkamp</td>
                        <td>13-02-2020</td>
                        <td>78.98</td>
                        <td>78.98</td>
                        <td>Vervalt over 14 dagen</td>
                    </tr>
                    <tr>
                        <td>2003</td>
                        <td>Hotel de Bruijn</td>
                        <td>19-02-2020</td>
                        <td>54.90</td>
                        <td>54.90</td>
                        <td>Vervalt sinds een maand</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>