<div id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="assets/logo.svg" />
    </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action"></a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-home"></i> Starten
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-dashboard"></i> Dashboard
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-file-text-o"></i> Offertes
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-file-text-o"></i> Facturen
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-shopping-cart"></i> Inkopen
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-users"></i> Relaties
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-cube"></i> Artikelen
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <i class="fa fa-plug"></i> Koppelingen
        </a>
    </div>
</div>