<nav class="navbar navbar-expand-lg border-bottom">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Zoeken" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Administraties</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i> Testgebruiker
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mijn Snelstart</a>
                    <a class="dropdown-item" href="#">E-mail wijzigen</a>
                    <a class="dropdown-item" href="#">Wactwoord wijzigen</a>
                    <a class="dropdown-item" href="#">Uitloggen</a>
                </div>
            </li>
        </ul>
    </div>
</nav>